@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

<div class="titulo">
    <h1>Bienvenido a CineORT</h1>
</div>
<p class="texto">Descubrí nuevas series y reviví las clásicas</p>

<div class="d-flex flex-row">
    @foreach (Series recorrerSeries in @ViewBag.Series)
    {
        <div class="card">
            <img src="@recorrerSeries.ImagenSerie" alt="Imagen 1">
            <div class="card-content">
                <h3>@recorrerSeries.Nombre</h3>
                <div class="botones">
                    <button data-bs-toggle="modal" data-bs-target="#ModalTemporadas"
                        onclick="MostrarDetalleTemporadas(@recorrerSeries.IdSerie)" class="boton" style="display: block;">Temporadas</button>
                    <button data-bs-toggle="modal" data-bs-target="#ModalActores"
                        onclick="MostrarDetalleActores(@recorrerSeries.IdSerie)" class="boton" style="display: block;">Actores</button>
                    <button data-bs-toggle="modal" data-bs-target="#ModalSeries"
                        onclick="MostrarDetalleSeries(@recorrerSeries.IdSerie)" class="boton" style="display: block;">Más info</button>
                </div>
            </div>
        </div>
    }
</div>





<div class="modal fade" id="ModalTemporadas" tabindex="-1" aria-labelledby="ModalTemporadasLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalTemporadasLabel">Temporadas</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="TemporadasContent">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalActores" tabindex="-1" aria-labelledby="ModalActoresLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalActoresLabel">Actores</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="ActoresContent">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalSeries" tabindex="-1" aria-labelledby="ModalSeriesLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalSeriesLabel">Información</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="SeriesContent">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

